/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .center {
  margin: 50vh 50vh;
  justify-content: center;
  align-items: center;
 }

.title {
  margin: 30px 0;

}

.search-form {
  position: relative;
}

.search-form #button {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 1px;
  background-color: rgb(92, 1, 173);
  color: white;
  font-weight: bold;
  padding: 3px 20px;
  border-radius: 10px;
  font-size: large;
}

.search-form #input {
  height: 3.5rem;
  width: 660px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  padding-left: 20px;
}

.search-form #input:focus {
  border: 1px solid #1EDD88;
  outline: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

#question {
  background: rgb(245, 245, 188);
}

#answer {
   background-color: rgb(245, 245, 188);
}
